.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6em;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6em;
  font-size: 20px;
  font-weight: 800;
}