body {
  margin: 0;
  font-family: 'Karla';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display:grid;
  grid-template-rows: auto 1fr auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* flexbox is good for window resizing,
items that are next to each other,
keeping sizing of items that are bigger/smaller than neighbor*/
.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6em;
  font-size: 20px;
  font-weight: 800;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #495E57;
}

.nav {
  display : flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6em;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

/* grid is good for large scale webpages, card displays, structured layout */
/* to have equal spacing: grid-template-columns: repeat(x, 1fr) */
/* parent element is in control/parent is in charge of everything that's going on */
.nav-footer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  background-color: #ebebeb;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.nav-footer > img {
  width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 16px;
}

.nav-footer > ul > li:first-child{
  font-weight: bolder;
  font-size: 24px;
}

.nav-footer > ul > li:not(first-child){
  font-weight: 500;
  font-size: 20;
}

.primary-color-1 {
  color: #495E57;
}

.primary-color-2 {
  color: #F4CE14;
}

.secondary-color-1 {
  color: #EE9972;
}

.secondary-color-2 {
  color: #FBDABB;
}

.secondary-color-3 {
  color: #FFFFFF;
}

.secondary-color-4 {
  color: #333333;
}

.title {
  font-family: 'Markazi Text';
  font-size: 64px;
  font-weight: 500;
  margin-bottom: 0%;
  margin-top: 0%;
}

.sub-title {
  font-family: 'Markazi Text';
  font-size: 40px;
  font-weight: 400;
  margin-top: 0%;
}

.leading-text {
  font-family: 'Karla';
  font-size: 18px;
  font-weight: 400;
}

.section-title {
  font-family: 'Karla';
  font-size: 20px;
  font-weight: 800;
}

.card-title {
  font-family: 'Karla';
  font-size: 18px;
  font-weight: 700;
}

p {
  font-family: 'Karla';
  font-size: 16px;
}

/* for price */
.highlight-text {
  font-family: 'Karla';
  font-size: 16px;
  font-weight: 700;
}

button {
  background-color: #F4CE14;
  color: #333333;
  border-radius: 16px;
  padding: 1em;
  font-size: 16px;
  border: none;
}

button:active {
  background-color: #ebebeb;
}

button:hover {
  background-color: #FBDABB;
}

.hero-section > img {
  display: flex;
  width: 60%;
  height: auto;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: -25%;
  margin-left: auto;
  margin-right: auto;
}

.hero-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2.5em;
  padding-bottom: -2.5em;
  background-color: #495E57;
  color: white;
}

.hero-section > div > button{
  margin-top: 20%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  font-size: 18px;
}

.highlight {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 0%;
}

.highlight > div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 7%;
  padding-bottom: 7%;
}

.highlight > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.highlight > div:first-child > button {
  padding-left: 7%;
  padding-right: 7%;
}

.card-container {
  display: flex;
  flex-direction: row;

}

.card {
  display: flex;
  width: 300px;
  height: 450px;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #ebebeb;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.card > img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-top: -10%;
}

.card > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  gap: 5em;
  padding-top: 0%;
  padding-bottom: 0%;
}

.card > button {
  margin: auto;
  margin-bottom: 10%;
}

.card > p {
  margin-top: 0%;
  margin-left: 2em;
  margin-bottom: 2em;
}

.testimonial-section {
  display: flex;
  flex-direction: column;
}

.testimonial-section > h1 {
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 5%;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: #333333;
  border-radius: 8px;
  padding: 2.5%;
}

.testimonial-card > div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
}

.testimonial-card > div > img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.testimonial-card > div > p {
  font-size: 16px;
  font-weight: 700;
  margin-top: auto;
  margin-bottom: auto;
}

.all-testimonial-cards {
  display: flex;
  gap: 2em;
  margin-inline: auto;
}

.about-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  margin: 10%;
  margin-left: 20%;
  margin-right: 20%;
}

.about-section > div > img {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  border-radius: 16px;
  margin-left: auto;
  margin-right: 0;
}

.about-section > div > img:nth-child(2) {
  margin-top: -20%;
  margin-left: 25%;
}