body {
  margin: 0;
  font-family: 'Karla';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* flexbox is good for window resizing,
items that are next to each other,
keeping sizing of items that are bigger/smaller than neighbor*/
.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3em;
  font-size: 20px;
  font-weight: 800;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.nav {
  display : flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

/* grid is good for large scale webpages, card displays, structured layout */
/* to have equal spacing: grid-template-columns: repeat(x, 1fr) */
/* parent element is in control/parent is in charge of everything that's going on */
.nav-footer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  background-color: #FBDABB;
  padding-left: 10em;
  padding-right: 10em;
}

.nav-footer > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 16px;
}

.nav-footer > ul > li:first-child{
  font-weight: bolder;
  font-size: 24px;
}

.nav-footer > ul > li:not(first-child){
  font-weight: 500;
  font-size: 20;
}

.primary-color-1 {
  color: #495E57;
}

.primary-color-2 {
  color: #F4CE14;
}

.secondary-color-1 {
  color: #EE9972;
}

.secondary-color-2 {
  color: #FBDABB;
}

.secondary-color-3 {
  color: #FFFFFF;
}

.secondary-color-4 {
  color: #333333;
}

.title {
  font-family: 'Markazi Text';
  font-size: 64px;
  font-weight: 500;
}

.sub-title {
  font-family: 'Markazi Text';
  font-size: 40px;
  font-weight: 400;
}

.leading-text {
  font-family: 'Karla';
  font-size: 18px;
  font-weight: 400;
}

.section-title {
  font-family: 'Karla';
  font-size: 20px;
  font-weight: 800;
}

.card-title {
  font-family: 'Karla';
  font-size: 18px;
  font-weight: 700;
}

p {
  font-family: 'Karla';
  font-size: 16px;
  line-height: 1.5px;
}

/* for price */
.highlight-text {
  font-family: 'Karla';
  font-size: 16px;
  font-weight: 700;
}